/* Google Font integration  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: #f52a7e;
    --secondary-color: #f9ba24;
    --tertiary-color:  #3F07F8;
  }

  .primary-bg{
    background-color: var(--primary-color);
  }
  .primary-text{
    color: var(--primary-color);
  }
  .primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    transition: 1s;
  }
  .primary-btn:hover{
    background-color: #000;
    transition: 1.5s;
  }
  .black-btn{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 30px;
    cursor: pointer;
    transition: 1.5s;
  }
  .black-btn:hover{
    background-color: var(--primary-color);
    transition: 1.5s;
  }
  .secondary-bg{
    background-color: var(--secondary-color);
  }
  .secondary-text{
    color: var(--secondary-color);
  }
  .secondary-btn{
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
  }
  .tertiary-bg{
    background-color: var(--tertiary-color);
  }
  .tertiary-text{
    color: var(--tertiary-color);
  }
  .tertiary-btn{
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
  }
  .hero-bg{
    background-color: #FEEAE9;
  }
  #shoes{
    background-color: #F4F4F4;
    padding: 60px 0;
  }

  #backpack{
    background-color: #F4F4F4;
    padding: 60px 0;
  }