:root {
    --primary-color: #f52a7e;
    --secondary-color: #f9ba24;
  }

  .primary-bg{
    background-color: var(--primary-color);
  }
  .primary-text{
    color: var(--primary-color);
  }
  .secondary-bg{
    background-color: var(--secondary-color);
  }
  .secondary-text{
    color: var(--secondary-color);
  }
  .primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
  }
  .secondary-btn{
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
  }
  .hero-bg{
    background-color: #FEEAE9;
  }
  